{erl_opts, [{parse_transform, lager_transform}, debug_info] }.

{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}},
        {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.9"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.15.2"}}},
        {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.7.5"}}},
        {jwt, {git, "https://github.com/artemeff/jwt", {tag, "0.1.8"}}},
        {epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "4.2.1"}}}
       ]}.

{relx, [{release, {server, "0.1.0"},
         [server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
